/* цвет заголовка h1 #FFFFFF*/
/* цвет заголовка h2 #212121*/
/* цвет текста просрачный #757575*/

/*#2196F3 один из основных цветов бирюзовый*/
/* цвет ссылок #E5E5E5*/
:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --text-color-zag: #212121;
    --background-color: #FFFFFF;
    --fon-background-color: #E5E5E5;
    --fon-background-color-two: #F5F4FA;
}
body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.7;
}
/* шапка страницы*/
.logo {
    color: var(--text-color-zag);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-cap {
    color: var(--accent-color);
}

/*.list {
    list-style: none;
} для сбросывания стиля к примера на точках в списке*/
.site-nav .link {
    color: var(--text-color-zag);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.auth-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;

}
.auth-nav .link:hover, 
.auth-nav .link:focus  {
    color: var(--accent-color);

}

/* цвет страницы*/

.section .section-zag {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;  
}
.clients > .section-zag {
    color: var(--background-color); 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4; 
    text-align: center;
    background-color: var(--text-color-zag);
}
.feature-list .title {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1; 
}
.feature-list .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9; 
}
.wite {
    background-color: var(--fon-background-color);
}
.grey {
    background-color: var(--fon-background-color-two);
}
.Portfoll {
    background-color: var(--fon-background-color);
}
/*.ridik {
    color: var(--background-color);
}
.ridik :hover,
.ridik :focus{
    color: var(--accent-color);
}*/
.ridik > .title {
    color: var(--text-color-zag)
}
.ridik > .text {
    color: var(--primary-text-color);
}


/* кнопки*/
.button {
    color: var(--text-color-zag);
    background-color: var(--accent-color);
}


/*button{
    font-family: inherit;
}*/
.button.primary {
    color: var(--background-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.button.secondary {
    color: var(--accent-color);
    background-color: var(--background-color);
    cursor: pointer;
}

.buttonzz.primary {
    color: var(--background-color);
    background-color:var(--accent-color);
    cursor: pointer;
}
.buttonzz.secondary {
    color: var(--text-color-zag);
    background-color: var(--background-color);
    cursor: pointer;
}
.buttonzz.secondary:hover,
.buttonzz.secondary:focus {
    background-color:var(--accent-color);
}
/* футер*/

.rgb.link{
    color:rgb(255, 255, 255, 60%);
}
.rgb.link:hover,
.rgb.link:focus {
    color: var(--accent-color);
}

